[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
numpy = "*"
pandas = "*"
surprise = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
